.grid {
  display: grid;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.gap-8 {
  gap: 8px;
}

.gap-16 {
  gap: 16px;
}

.gap-24 {
  gap: 24px;
}

.color-red {
  color: var(--red);
}

.subtitle {
  font: var(--subtitle);
}

.title-md {
  font: var(--title-md);
  color: var(--gray-600);
}