.grid {
  display: grid;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.gap-8 {
  gap: 8px;
}

.gap-16 {
  gap: 16px;
}

.color-red {
  color: var(--red);
}

.color-pur { 
  color: var(--purple);
}

.color-blu { 
  color: var(--blue);
}

.color-gre { 
  color: var(--green);
}

.color-yel { 
  color: var(--yellow);
}